$color-warranty-safe: #36d7b7;
$color-warranty-expiring: #E87E04;
$color-warranty-expired: #e7505a;

.bus-stat {
  background-position: 0.5rem bottom;
  background-repeat: no-repeat;
  background-size: 4rem;
  display: block;
  padding: 1.25rem 0.75rem;
  transition: $transition-base;

  .summary {
    display: inline-flex;
    .h3 {
      margin-top: 4rem;
    }
    .h4 {
      margin-top: 4.5rem;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &:hover > div {
    /*text-decoration: underline;*/
  }
}

.summary-tabs {
  .box {
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
      transition: all 0.2s ease-in-out;
      color: $color-assets;
      font-weight: bold;
    }
  }
}
