a.mofa--status {
  color: #000;
  &:hover {
    .h3,
    .h4 {
      color: $color-contract;
    }
  }  
}

a.hotel--status {
  color: #000;
  &:hover {
    .h3,
    .h4 {
      color: $color-assets;
    }
  }
}