[class*="ion-"].delete {
  color: $red;

  &:hover {
    color: darken($red, 5%);
  }
}

.bg-icon {
  bottom: -1rem;
  font-size: 5rem;
  line-height: 1;
  opacity: 0.2;
  position: absolute;
  right: -0.75rem;
}

.mofa-icon {
  width: 100px;
  height: 92px;
}

.hotel-icon {
  width: 75px;
  height: 80px;
}

